*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

html,body{
  background-color: rgb(243, 243, 243);
  font-family: 'Secular One', sans-serif;
}
.app{
  width: 100%;
  margin: 0 0;
}